@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: #535151;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
}
ul {
  width: 400px;
}
ul li {
  list-style: none;
}
form input,
form textarea,
form button {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
form input:focus,
form textarea:focus{
    outline: none;
}
textarea {
  height: 100px;
}
form button {
  background-color: #e4e4e4;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
form button:hover {
  background: rgb(207, 155, 197);
  background: linear-gradient(
    90deg,
    rgba(207, 155, 197, 1) 30%,
    rgba(174, 128, 199, 1) 70%
  );
  color: #fff;
  border: 1px solid #fff;
}
body {
  background: rgb(207, 155, 197);
  background: linear-gradient(
    90deg,
    rgba(207, 155, 197, 1) 30%,
    rgba(174, 128, 199, 1) 70%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container1,
.container2 {
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}
.btn {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.btn a{
    color: rgba(174, 128, 199, 1);
    text-decoration: none;

}

.btn2 {
  width: 100%;
  border: none;
  background-color: #e4e4e4;
  font-size: 18px;
  font-weight: 500;
}
.btn2 a {
    text-decoration: none;
    color: #615f5f;
  }
.btns {
  display: flex;
}

.task {
  text-align: left;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 16px;
}
.task button {
  padding: 3px 15px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #e4e4e4;
  cursor: pointer;
  border-radius: 10px;
  border: none ;
}
.task button:hover {
    background: rgb(207, 155, 197);
    background: linear-gradient(
      90deg,
      rgba(207, 155, 197, 1) 30%,
      rgba(174, 128, 199, 1) 70%
    );
    color: #fff;
  }
.task b{
    color: #615f5f;
}
select{
    padding: 3px 7px;
    font-size: 14px;
    margin: 15px 5px;
    border: 1px solid #ccc;
}
select:focus{
    outline: none;
}
label{
    font-size: 18px;
    font-weight: 500;
}
